/* Sekcja produktów */
.products {
    display: flex;
    flex-wrap: wrap; /* Pozwól produktom przejść do nowego wiersza */
    justify-content: space-between; /* Równomiernie rozstawia produkty */
    gap: 20px; /* Odstęp między produktami */
    margin: 20px;
}

.product {
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%; /* 3 produkty w rzędzie */
    box-sizing: border-box;
}

.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    margin: 10px 0;
}

.product .price {
    font-size: 1.2em;
    color: #2196F3; /* Kolor ceny */
    margin: 10px 0;
}
