/* Ustawienia ogólne */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

/* Sekcja produktów */
.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    margin: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.product {
    background-color: white;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 30%; /* Domyślnie 3 produkty w jednym rzędzie */
    box-sizing: border-box;
}

/* Obrazki produktów */
.product img {
    width: 100%;
    height: auto;
}

.product h3 {
    margin: 10px 0;
}

.product .price {
    font-size: 1.2em;
    color: #2196F3;
    margin: 10px 0;
}

.product a {
    text-decoration: none;
    color: #333;
}

.product a:hover {
    text-decoration: underline;
}

/* Sekcja kontaktowa */
#kontakt {
    padding: 20px;
    background-color: #fff;
    text-align: center;
}

/* Media Query dla większych ekranów (komputery stacjonarne) */
@media (min-width: 768px) {
    .product {
        width: 30%; /* 3 produkty w jednym rzędzie */
    }
}

/* Media Query dla małych ekranów (telefony) */
@media (max-width: 767px) {
    .product {
        width: 48%; /* 2 produkty w jednym rzędzie */
    }
}
